#notePanel {
  height: 60%;
}

#results {
  height: 60%;
}

#info {
    font-size: 20px;
    text-align: center;
    visibility: hidden;
}

#test {
    z-index: 5000;
    width: 500px;
    height: 75%;
    position: fixed;
    right: 1px;
    left: 1440px;
    background-color: #f8f8f8;
}