#notePanel {
  height: 60%;
}

#results {
  height: 60%;
}

#info {
    font-size: 20px;
    text-align: center;
    visibility: hidden;
}

#floatingPanel {
    z-index: 5000;
    height: 100%;
    position: fixed;
    background-color: #f8f8f8;
    width: 0; /* 0 width - change this with JavaScript */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#noteTextarea {
    resize: none;
    height: 100%;
}
