<div class="row controlButtons">
    <div class="col-lg-6">
        <div id="title" class="col-lg-2 pull-left">
                <label id="titleLabel">Untitled Note</label>
                <input id="titleEditor" class="clickedit" type="text" />
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-1">
            </div>
            <div id="class" class="col-lg-2">
                <label id="className">Class Name</label>
                <input class="clickedit" type="text" />
                <div class="clearfix"></div>
            </div>
    </div>
    <div class="col-lg-2">
        <button id="keywordsButton" class="btn btn-block btn-primary">Keywords</button>
    </div>
    <div class="col-lg-2">
        <button id="simulateTranscription" onclick="GWS_CORE.simulateTranscription(event)" class="btn btn-block btn-default">Simulate Transcription
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-lg-2">
        <button id="refresh_button" class="btn btn-block btn-default">Refresh keyword
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
    </div>
</div>