<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='application.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    {% include "navbar.html" %}
    {% include "tutorial.html" %}
    {%  include "slidePanel.html" %}
    <div class="container-fluid">
        <h1>ANTS</h1>
        <div id="title">
            <label id="titleLabel" class="pull-left">Untitled Note</label>
            <input id="titleEditor" class="clickedit" type="text" />
            <div class="clearfix"></div>
        </div>

        {% include "control_buttons.html" %}

        <br>
        {% include "note_panels.html" %}
        <br>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <button id="start_button" onclick="GWS_CORE.startButton(event)" type="button" class="btn btn-block btn-success">Start</button>
            </div>
        </div>
        {% include "google_gws_info.html" %}
    </div>

    <div id="snackbar">Keyword updated</div>
</body>


<script src="../../static/gwscore.js"></script>
<script src="../../static/dataService.js"></script>
<script src="../../static/knowledge.js"></script>
<script src="../../static/fb_auth.js"></script>


<script>
    $(document).ready(function() {
        var $KNOWLEDGE = $.knowledge();
        var dataService = DATA_SERVICE();
        var textArea = $('#noteTextarea');
        var noteTitle = $('#titleEditor');
        var noteTitleLabel = document.getElementById('titleLabel');
        var userid = 'testuser';
        var reflectiveCallback = function (result) {
            console.log(result)
        }

        $KNOWLEDGE.init(GWS_CORE, dataService);
        FB_AUTH();
        var isNew = '{{isNew}}';
        var note_id = '{{note_id}}';
        console.log(isNew);
        console.log(note_id);
        function createNewNote() {
            dataService.createNewNote(userid, {class_name: '', note_name: 'New Note', text:'This is your new note'}, function (result) {
                result = JSON.parse(result);
                note_id = result._id.$oid;
                console.log(result._id.$oid);
                console.log(window.location.host);
                window.location.replace('http://' + window.location.host + '/docs?user_name=testuser&note_id=' + note_id);
            });
        }

        function loadNote(result){
            console.log(result)
            var text = result['text'];
            textArea.val(text);
            noteTitleLabel.innerText = result.note_name;
        }

        if (isNew == "True"){
            // Create note
            createNewNote();
            // Redirects to the newly created note
            // So when user refreshes, they don't have to find their note again.

        }else{
            dataService.getNote(userid, note_id, loadNote);
        }

        // Saving mechanism for the text box.
        var lastSavedTime = 0;
        var timeout = 5000;
        var update = function (){
            var d = new Date();
            var time = d.getTime();
            if (time-lastSavedTime > timeout){
                lastSavedTime = time;
                //save note call
                var pendingText = textArea.val();
                dataService.updateNote(userid, note_id, {text: pendingText}, reflectiveCallback);
                console.log('saved--' + textArea.val());
            }
        };
        textArea.on('input', function(){
            setTimeout(function() { update(); }, timeout);
        });
        noteTitle.on('focusout', function(){
            var newTitle = noteTitleLabel.innerText;
            dataService.updateNote(userid, note_id, {note_name: newTitle}, reflectiveCallback)
        });

        var noteTab = $('#noteTab');
        var editorTab = $('#editorTab');
        noteTab.removeClass('active');
    });
</script>

{#Setup Facebok API: Reference: https://developers.facebook.com/docs/facebook-login/web#}
{% include 'fb_auth_script.html' %}
