<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Notes</div>
            <div id="notePanel" class="panel-body">
                <textarea id="noteTextarea" class="form-control" rows="18" placeholder="Start taking notes here!"></textarea>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">Transcription</div>
            <div id="results" class="panel-body" style="overflow: auto;">
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
            </div>
        </div>
    </div>

</div>